.row
  %h1.text-center= @campaign.title

.row
  %h4 Бюджет проекта

= render partial: 'budget', locals: {budget: @budget}

.row
  = link_to 'Добавить статью бюджета', new_budget_item_path if user_signed_in?

