.row
  %h1.text-center= @campaign.title

.row
  %strong Бюджет проекта
  (
  =link_to 'назад', @campaign
  )

= render partial: 'budget', locals: {budget: @budget}

.row
  = link_to 'Добавить статью бюджета', new_budget_item_path if user_signed_in?

