.campaign-thumb {
  background-color: #ffffff;

  .campaign-box {
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 1px;
    padding: 0;
  }
  
  .campaign-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

    ul.funding-stats {
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

.progressbar {
  height: 10px;
  background-color: #dddddd;
  width: 100%;
  padding: 0;

  div {
    height: 100%;
  }

  .progressbar-funded {
    background-color: #2bde73;
  }

  .progressbar-spent {
    background-color: #ff3535;
  }
}

.campaign-title a {
  color: #373a3c;
  text-decoration: none;
}

textarea#campaign_short_description {
  height: 100px;
}


