$theme-colors: (
  "donation": #f8f9fa
);

@import "bootstrap";

.campaign-navigation {
  font-size: 1.2rem;

  a.active {
    font-weight: bold;
  }
}

ul.funding-stats {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 15px;
  }
}

.campaign-image {
  width: 100%;
}

.campaign-jumbo {
  padding-left: 0;
  padding-right: 0;
  padding-top: 24rem;
  padding-bottom: 0;

  background-size: cover;
  background-repeat: no-repeat;

  h1, h2, h3 {
    color: white;
  }

  .campaign-ruler-panel {
    background-color: #0b91d8;
  }

  .campaign-ruler-padding {
    background-image: image-url('header-panel-corner.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .campaign-ruler-line {
    height: 0.25em;
    background-color: #0b91d8;
  }
}

.project-card {
  padding: 20px;
}

.funding-panel {
  h2 {
    color: #0b91d8;
  }
}

.donation-form {
//  .form-group {
//    width: 100%;
//  }
  label.amount-btn {
//    @include button-outline-variant(#f8f9fa, #f8f9fa);
//    min-width: 30%;
//    border-style: solid;
//    border-width: 1px;
//    border-color: gray;
  }
}

.progressbar {
  height: 10px;
  background-color: #dddddd;
  width: 100%;
  padding: 0;

  div {
    height: 100%;
  }

  .progressbar-funded {
    background-color: #2bde73;
  }

  .progressbar-spent {
    background-color: #ff3535;
  }
}

.progress .progress-bar .label-centered {
  position: absolute;
  display: block;
}

.campaign-title a {
  color: #373a3c;
  text-decoration: none;
}

textarea#campaign_short_description {
  height: 100px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

